@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --color-primary: #08A6E4;
    --color-primary-shadow: rgba(7, 172, 230, .16);
    --color-redish: #FB3B64;
    --color-green: #55DFB4;
    --color-black: #000;
    --color-grey: #A5A5A5;
    --color-light-grey: #F7F7F7;
    --color-white: #fff;
    --font-raleway: 'Raleway', sans-serif;
    --font-open-sans: 'OpenSans', sans-serif;
}

body {
    font-family: var(--font-open-sans);
}
  
a {
    text-decoration: none;
}

.container {
    margin: 0 auto;
    max-width: 1352px;
}

.header {
    height: 70px;
    width: 100%;
    background: var(--color-white);
    box-shadow: 0 3px 6px #00000029;
}

.header_container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo {
    text-decoration: none;
    color: var(--color-primary);
    font-family: var(--font-raleway);
    font-size: 32px;
    font-weight: 300;
    line-height: 37px;
}

.nav_list {
    display: flex;
    list-style: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 11px;
    letter-spacing: 3.28px;
    line-height: 15px;
    gap: 71px;
}

.nav_list a {
    color: var(--color-grey);
    padding: 28px 12px 27px 12px;
}

.nav_list a:hover {
    color: var(--color-black);
    border-bottom: 4px solid var(--color-primary);
}

.hero_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 130px;
}

.hero_title {
    font-family: var(--font-raleway);
    font-weight: 400;
    font-size: 49px;
    line-height: 57px;
    color: var(--color-black);
    margin-bottom: 20px;
}

.hero_text {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: var(--color-black);
    margin-bottom: 38px;
}

.hero_btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: var(--color-white);
    padding: 22px 157px;
    background: var(--color-primary);
    border-radius: 40px;
    box-shadow: 5px 10px 14px var(--color-primary-shadow);
}

.hero_photo {
    width: 100%;
}

.stats_container {
    max-width: 800px;
    margin: 100px auto 120px;
}

.stats_title {
    font-family: var(--font-raleway);
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: var(--color-black);
    margin-bottom: 100px;
}

.stats_box_container {
    display: flex;
    justify-content: space-between;
}

.stats_box {
    max-width: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.circle {
    width: 63px;
    height: 63px;
    border-radius: 50%;
    display: block;
    background: var(--color-redish);
    position: relative;
}

.blue_circle {
    background: var(--color-primary);
}

.green_circle {
    background: var(--color-green);
}

.box_icon {
    position: absolute;
    top: 10%;
    left: 50%;
}

.box_icon2 {
    position: absolute;
    top: calc(31.5px - 36.5px / 2);
    left: 35%;
}

.box_number_text {
    font-family: var(--font-raleway);
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 5.96px;
    color: var(--color-black);
    margin-top: 14px;
    margin-bottom: 19px;
}

.box_text {
    font-family: var(--font-raleway);
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    color: var(--color-grey);
    text-align: center;
}

.benefits {
    background: var(--color-light-grey);
    padding: 105px 0 68px 0;
}

.benefits_container {
    border: 1px solid #E8E9ED;
    height: 370px;
    background: var(--color-white);
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    margin-bottom: 37px;
}

.benefits_text_box {
    margin: 90px 36px;
    max-width: 416px;
}

.benefits_text_box::after {
    content: '';
    width: 328px;
    height: 4px;
    background: var(--color-redish);
    display: block;
}

.benefits_text_box--blueline::after {
    background: var(--color-primary);
}

.benefits_title {
    font-family: var(--font-raleway);
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    color: var(--color-black);
    text-align: left;
    margin-bottom: 30px;
}

.benefits_text {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: var(--color-black);
    text-align: left;
    margin-bottom: 50px;
}

.benefits_pic_box {
    position: relative;
    margin: 113px 117px 38px 0;
}

.benefits_first_img {
    width: 386px;
    height: auto;
    position: relative;
    z-index: 2;
}

.benefits_pic_box::before {
    content: '';
    width: 180px;
    height: 180px;
    background-color: var(--color-redish);
    border-radius: 41px;
    display: block;
    transform: rotate(45deg);
    position: absolute;
    top: -40px;
    right: 0;
}

.benefits_container2 {
    flex-direction: row-reverse;
}

.benefits_second_img {
    width: 426px;
    height: auto;
    position: relative;
    z-index: 2;
}

.benefits_pic_box--bluecircle {
    margin: 29px 0 13px 70px;
}

.benefits_pic_box--bluecircle::before {
    content: '';
    width: 320px;
    height: 320px;
    background-color: #07ACE6;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: -17px;
    left: 0;
}

.benefits_text_box--blueline {
    margin: 70px 20px;
}