.contact {
    &_container {
        max-width: 900px;
    }

    &_box {
        margin-bottom: 3.75rem;
        display: flex;
        justify-content: space-between;
    }

    &_text_box {
        display: flex;
        flex-direction: column;
    }

    &_title {
        font-family: $font-raleway;
        font-weight: 400;
        font-size: 3rem;
        line-height: 3.625rem;
        text-align: left;
        margin-bottom: 1.375rem;
    }

    &_text {
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.375rem;
        text-align: left;
        margin-bottom: 2.625rem;
    }

    .icon_box {
        display: flex;

        a {
            font-weight: 600;
            font-size: 1rem;
            line-height: 1.275rem;
            text-align: left;
            color: $color-grey;
            display: flex;
            align-items: center;
        }

        .contact_email {
            margin-right: 1.25rem;

            &::before {
                @include contact_icon();
                background-image: url(../assets/Mail\ Icon.svg);
            }
        }

        .contact_phone::before {
            @include contact_icon ();
            background-image: url(../assets/Phone\ Icon.svg);
        }
    }

    .form {
        display: flex;
        flex-direction: column;

        span {
            color: $color-primary;
            text-transform: uppercase;
            font-weight: 700;
            font-size: 0.75rem;
            letter-spacing: 0.2rem;
            line-height: 1rem;
            text-align: left;
        }

        input {
            width: 27.5rem;
            padding: 0.625rem 0 0.125rem 0;
            display: block;
            border: none;
            border-bottom: 2px solid $color-grey;
            margin-bottom: 1.875rem;
        }
    }

    &_footer {
        display: flex;
        justify-content: flex-end;

        button {
            background: $color-primary;
            border: none;
            padding: 1.25rem 6.25rem;
            border-radius: $border-radius;
            color: $color-white;
            font-weight: 700;
            box-shadow: $box-shadow;
            margin-top: 1.25rem;
        }
    }

    .checkbox {
        cursor: pointer;
        display: flex;
        font-weight: 400;
        font-size: 0.75rem;
        color: #707070;
        line-height: 1rem;
        width: 27.5rem;

        input {
            position: absolute;
            opacity: 0;
            height: 0;
            width: 0;

            &:checked {
                + span {
                    background-image: url(../assets/Checkmark.svg);
                    background-position: center;
                    background-repeat: no-repeat;
                }
            }
        }

        span {
            width: 1.5rem;
            height: 1.5rem;
            flex-shrink: 0;
            flex-basis: 1.5rem;
            border: 1px solid $color-grey;
            border-radius: 4px;
            cursor: pointer;
            margin-right: 0.625rem;
        }
    }

    @media (max-width: $breakpoint-md) {
        .contact_box {
            flex-direction: column;
        }

        .icon_box {
            flex-direction: column;

            .contact_email {
                margin-bottom: 0.5rem;
            }

            .contact_phone {
                margin-bottom: 2rem;
            }
        }

        .checkbox {
            width: 100%;
        }

        .form {
            input {
                width: 100%;
            }
        }
    }
}