* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html, body {
    font-family: "Open Sans", sans-serif;
}
  
a {
    text-decoration: none;
}

.container {
    margin: 0 auto;
    max-width: 1352px;

    @media (max-width: $breakpoint-lg) {
        width: 100%;
        padding: 0 1rem;
    }
}

.btn {
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.375rem;
    color: $color-white;
    padding: 1.2rem 9.5rem;
    background: $color-primary;
    border-radius: $border-radius;
    box-shadow: 5px 10px 14px $color-primary-shadow;
}

.circle {
    width: 3.9375rem;
    height: 3.9375rem;
    border-radius: 50%;
    display: block;
    background: $color-redish;
    position: relative;
}